.firstNameFieldPair,
.firstNameFieldPairWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.firstNameFieldPair {
  margin: 0;
  width: 928px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.firstNameFieldPairWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.auth {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 675px) {
  .auth {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .firstNameFieldPair {
    gap: var(--gap-base);
  }
}
