@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=FontAwesome:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --roboto-regular-16: Roboto;
  --h6-mobile-14px-regular: "Open Sans";
  --font-fontawesome: FontAwesome;
  --font-pt-sans: "PT Sans";
  --body-small-400: Inter;

  /* font sizes */
  --h6-16px-regular-size: 16px;
  --font-size-11xl: 30px;
  --body-large-500-size: 18px;
  --h4-24px-light-size: 24px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --h6-mobile-14px-regular-size: 14px;
  --font-size-mini-4: 14.4px;
  --font-size-lgi: 19px;
  --h3-28px-light-size: 28px;
  --label-12px-semibold-02-size: 12px;
  --font-size-mid-6: 17.6px;
  --heading-01-size: 40px;
  --font-size-13xl: 32px;
  --font-size-31xl: 50px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-whitesmoke-100: #f9fafb;
  --color-secondary-default: #f4f5f7;
  --color-darkslategray-100: #374151;
  --color-default-default: #172b4d;
  --text-color-white: #fff;
  --color-darkorchid-100: #ba59ff;
  --color-darkorchid-200: #a855f7;
  --color-darkorchid-300: #8f3bde;
  --color-blueviolet: #9333ea;
  --text-color-light: #adb5bd;
  --color-darkgray-100: #b2b2b2;
  --color-dimgray: #4b5563;
  --color-gray-100: #1f2937;
  --shark: #212529;
  --gray-scale-900: #192033;
  --gray-900: #18191c;
  --black: #010101;
  --color-transparent: rgba(255, 255, 255, 0);
  --color-gray-200: rgba(255, 255, 255, 0.95);
  --color-plum: #d8b4fe;
  --text-color-grey: #8898aa;
  --gray-500: #767f8c;
  --text-color-blue-grey: #525f7f;
  --text-color-primary: #5e72e4;
  --primary-500: #0a65cc;
  --text-color-grey-dark: #32325d;
  --color-info-default: #11cdef;
  --gray-scale-50: #edeff5;
  --whisper: #edeaf3;
  --black1: #000;
  --color-gainsboro: #e5e7eb;
  --gray-100: #e4e5e8;
  --success-50: #e7f6ea;
  --success-500: #0ba02c;
  --primary-50: #e7f0fa;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-5xs: 8px;
  --gap-smi: 13px;
  --gap-29xl: 48px;
  --gap-base-5: 16.5px;
  --gap-4xl-3: 23.3px;
  --gap-10xs: 3px;
  --gap-smi-3: 12.3px;
  --gap-4xl: 23px;
  --gap-4xs: 9px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-base-8: 16.8px;
  --gap-4xs-8: 8.8px;
  --gap-9xl-3: 28.3px;
  --gap-311xl: 330px;
  --gap-129xl: 148px;
  --gap-64xl-7: 83.7px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-mini: 15px;
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-32xl: 51px;
  --padding-31xl: 50px;
  --padding-13xl: 32px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-2xl: 21px;
  --padding-12xl: 31px;
  --padding-17xl: 36px;
  --padding-61xl: 80px;
  --padding-11xs: 2px;
  --padding-mini: 15px;
  --padding-2xs: 11px;
  --padding-smi: 13px;
  --padding-9xs: 4px;
  --padding-8xs: 5px;
  --padding-15xl: 34px;
  --padding-435xl: 454px;
  --padding-11xl: 30px;
  --padding-436xl: 455px;
  --padding-94xl: 113px;
  --padding-208xl: 227px;
  --padding-5xl: 24px;
  --padding-9xs-2: 3.2px;
  --padding-76xl: 95px;
  --padding-4xs-8: 8.8px;
  --padding-6xs: 7px;
  --padding-4xs-6: 8.6px;
  --padding-3xs-4: 9.4px;
  --padding-66xl: 85px;
  --padding-4xs: 9px;
  --padding-3xl-9: 22.9px;
  --padding-5xl-4: 24.4px;
  --padding-16xl-5: 35.5px;
  --padding-18xl: 37px;
  --padding-6xs-1: 6.1px;
  --padding-sm: 14px;
  --padding-140xl: 159px;
  --padding-139xl-1: 158.1px;
  --padding-84xl: 103px;
  --padding-21xl: 40px;
  --padding-3xs: 10px;
  --padding-12xs-9: 0.9px;
  --padding-226xl-3: 245.3px;
  --padding-226xl: 245px;
  --padding-42xl: 61px;
  --padding-103xl: 122px;
  --padding-4xl: 23px;
  --padding-421xl-6: 440.6px;
  --padding-267xl: 286px;
  --padding-102xl: 121px;
  --padding-167xl: 186px;
  --padding-98xl-6: 117.6px;
  --padding-12xs-8: 0.8px;
  --padding-103xl-4: 122.4px;
  --padding-39xl-5: 58.5px;
  --padding-39xl: 58px;
  --padding-121xl-4: 140.4px;
  --padding-125xl-6: 144.6px;
  --padding-67xl: 86px;
  --padding-smi-1: 12.1px;
  --padding-28xl: 47px;
  --padding-14xl-7: 33.7px;
  --padding-base-7: 16.7px;
  --padding-5xs-1: 7.1px;
  --padding-11xs-1: 1.1px;
  --padding-46xl: 65px;
  --padding-191xl: 210px;
  --padding-33xl: 52px;
  --padding-86xl: 105px;
  --padding-41xl: 60px;
  --padding-201xl: 220px;
  --padding-128xl: 147px;
  --padding-45xl-6: 64.6px;
  --padding-23xl: 42px;
  --padding-8xl: 27px;
  --padding-495xl: 514px;
  --padding-198xl: 217px;
  --padding-315xl: 334px;
  --padding-sm-3: 13.3px;
  --padding-xs: 12px;
  --padding-3xl: 22px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-11xs: 2px;
  --br-5xs: 8px;
  --br-10xs: 3px;

  /* Effects */
  --shadow-card: 0px 15px 35px rgba(50, 50, 93, 0.1),
    0px 5px 15px rgba(0, 0, 0, 0.07);
}
